@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($theme);
  color-scheme: light;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-app-background-color, #fafafa);
  color: var(--mat-app-text-color, #212121);
}
